@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

body {
  background-image: url("https://i.pinimg.com/originals/73/93/f8/7393f872a22ceb626fde1259dc0d00d7.jpg");
  font-family: "Rubik Glitch";
}
div {
  display: flex;
  flex-direction: row;
}
